.sound-card {
    margin: 10px;
    width: 200px;
    height: 260px;
    background-color: white;
    border-radius: 8px;
    transition: all 0.3s;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.sound-card:hover {
    transform: rotate(1deg) scale(1.02);
}


img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px;
    object-fit: cover;
}